@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}

.input-80 {
  width: 100%;
}

.form-center {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
}
